<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add to Kafka Topic</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function validateForm() {
            var topic = document.forms["mqttForm"]["topic"].value;
            var table = document.forms["mqttForm"]["table"].value;
            var columns = document.forms["mqttForm"]["columns"].value;
            if (topic == "" || table == "" || columns == "") {
                alert("Topic, Table and Columns must be filled out");
                return false;
            }
        }
    </script>
</head>
<body>
<a href="/kafka">Go to Kafka</a>
<form action="/kafka/addPost" method="get" name="mqttForm" onsubmit="return validateForm()">
    <label for="topic">topic:</label><br>
    <input id="topic" name="topic" type="text"><br>
    <label for="table">table:</label><br>
    <input id="table" name="table" type="text"><br>
    <label for="columns">columns:</label><br>
    <input id="columns" name="columns" type="text"><br>
    <label for="parse">parse:</label><br>
    <input id="parse" name="parse" type="text"><br>
    <label for="group">group:</label><br>
    <input id="group" name="group" type="text"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>